<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Products Listing</title>
  <!--jquery cdn-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- cdn data Table and css files -->
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
  <!-- cdn Dropzone -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />
  <!-- custom style for dropzone and dataTable -->
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
</head>

<body>
  <button id="openModalBtn">ADD PRODUCTS</button>

  <!-- DataTable to show products -->
  <table id="products-table">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Product Name</th>
        <th>Lowest Price</th>
        <th>Variations & Stock</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data will be populated by DataTables -->
    </tbody>
  </table>

  <!-- Dropzone -->
  <div id="uploadModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="dropzone" id="dropzone">
      </div>
    </div>
  </div>

  <!-- Dynamically load DataTable and handle the file upload with dropzone -->
  <script>
    // Initialize Dropzone
    Dropzone.autoDiscover = false;

    new Dropzone("#dropzone", {
      url: '{% url "upload_products" %}', // Test URL
      acceptedFiles: ".xls,.xlsx",
      init: function () {
        this.on("success", function (file, response) {
          alert("File uploaded successfully:", response);
          this.removeAllFiles();
          modal.css("display", "none");
          $("#products-table").DataTable().ajax.reload();
        });
        this.on("error", function (file, response) {
          console.log(response);
          alert("Error uploading file: " + response.error);
          this.removeAllFiles();
          modal.css("display", "none");
        });
      },
    });


    var modal = $("#uploadModal");
    $("#openModalBtn").on("click", function () {
      modal.css("display", "block");
    });

    // Close the modal
    $(".close").on("click", function () {
      modal.css("display", "none");
    });

    // Close the modal if clicked outside of it
    $(window).click(function (event) {
      console.log(event.target);
      if (event.target === modal[0]) {
        modal.css("display", "none");
      }
    });
    $(document).ready(function () {
      $("#products-table").DataTable({
        ajax: {
          url: '{% url "products_list" %}',
          dataSrc: "",
          complete: function (xhr, textStatus) {
            // Log the entire response
            console.log("AJAX request complete");
            console.log("Status:", textStatus);
            console.log("Response:", xhr.responseJSON);
          },
        },
        columns: [
          { data: "id" },
          { data: "name" },
          { data: "lowest_price" },
          {
            data: null,
            render: function (data, type, row) {
              // Generate HTML for nested table
              var variations = row.variations
                .map(function (variation) {
                  return `<tr><td>${variation.variation_text}</td><td>${variation.stock}</td></tr>`;
                })
                .join("");
              console.log(variations);
              return `
                          <table class="display nested-table" style="width: 100%; border: 1px solid #ddd; border-collapse: collapse;">
                              <thead>
                                  <tr>
                                      <th>Variation Text</th>
                                      <th>Stock</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  ${variations}
                              </tbody>
                          </table>
                      `;
            },
          },
          { data: "last_updated" },
        ],
      });
    });
  </script>
</body>

</html>